.list {
    display: flex;
    gap: 2em;
}

@media (hover: hover) {
    .list a:hover {
        color: val(--accent);
    }
}

@media (hover: none) {
    .list a {
        -webkit-top-height-color: transparent;
    }

    .list a:active {
        color: var(--accent);
    }
}