.flexContainer {
    /* エラー シンタックスエラー発生 */
    composes: sideBySide from './utils.module.css'
    /* display: flex;
    flex-direction: column; */
    /* gap: var(--sapce-md);
    margin: var(--space-md) 0 var(--space-lg); */
}

@media (min-width: 768px) {
    .main {
        width: 768px;
    }

    .sidevbar {
        width: 240px;
    }
}

.sidebar {
    text-align: right;
    position: sticky;
    top: 40px;
    align-self: flex-center;
}
.sidebar :is(div ul) {
    width: fit-contact;
    margin-left: auto;
    place-items: flex-end;
    place-content: flex-end;
}